@import './fonts';
@import './colors';

// Element Selectors ====================

body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}


// NavBar ===============================

nav {
  background-color: $white;
  border: 1px solid $black;
  left: 5%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 1;

  > ul {
    margin: 0;
    padding: 0;
  }

  > ul > li {
    display: inline;
    font-family: $nav-font;
    font-size: 22px;
    margin: 0 0 0 10px;
  }

  > ul > li:hover {
    background-color: $black;
  }
}

.auth {
  float: right;
  margin-right: 25px;
}


// Header ==================================

.header-container {
  border: 1px solid $black;
  height: 200px;
  margin: 0 auto;
  width: 95%;
}

.site-name {
  font-family: $header-font;
  text-align: center;
}


// Drawing Container ======================

.drawing-container {
  border: 1px solid $black;
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

.drawing-image {
  border: 1px solid $black;
  margin: 10px auto;
  display: block;
  width: 600px;
  height: 300px;
}

.drawing-lyrics {
  text-align: center;
}


// Drawing Forms =======================

.update-form {
  margin-bottom: 10px;
  width: 100%;
}

.delete-button {
  margin: 5px 0;
}
