@import './fonts';
@import './colors';

// Element Selectors ====================

body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
    background-image: url('https://st2.depositphotos.com/3394007/5764/v/950/depositphotos_57643515-stock-illustration-scribble-cell-pattern-hand-drawn.jpg')
}


// NavBar ===============================

nav {
  background-color: $white;
  border: 5px solid $blue;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: none;
  height: 70px;

  > ul {
    margin: 0;
    margin-top: 11px;
    padding: 0;
  }

  > ul > li {
    display: inline;
    font-family: $nav-font;
    font-size: 28px;
    margin: 10px 0 0 10px;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
  }

  > ul > li:hover {
    background-color: $blue;
    color: $white;
  }
}

.auth {
  float: right;
  margin-top: -9px;
  margin-right: 5px;
  font-size: 28px;

  > div {
    border: 3px solid $blue;
  }

  > div > form > fieldset > input {
    margin: 5px auto;
  }

  > div > form > fieldset > .btn {
    margin: 0 40px;
  }
}

.auth {

  > button {
    border: 0;
    background-color: $white;
  }
}

.auth:hover {
  color: $black;
}

#nav-change-password > button {
  font-size: 20px;
}


// Header ==================================

.header-container {
  background-color: $white;
  border: 5px solid $blue;
  // height: 200px;
  margin: 0 auto;
  width: 95%;
}

#logo {
  width: 70%;
  display: block;
  margin: 0 auto;
}




// Drawing Container ======================

.drawing-container {
  background-color: $white;
  border: 5px solid $blue;
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

.drawing-image {
  border: 3px solid $blue;
  margin: 10px auto;
  display: block;
  width: 600px;
  height: 300px;
}

.drawing-lyrics {
  text-align: center;
}


// Drawing Forms =======================
.create-container {
  border: 5px solid $blue;
  background-color: $white;
  width: 80%;
  margin: 10px auto 0;

  > form > fieldset > input {
    display: block;
    margin: 10px auto;
    width: 60%;
  }
}


.update-form {
  margin-bottom: 10px;
  width: 90%;
}

.delete-button {
  margin: 5px 0;
}

// Error Handling =======================
.success {
  color: $success;
  text-align: center;
  margin: 10 10 0;
  font-size: 20px;
  padding: none;
}

.error {
  color: $error;
  text-align: center;
  font-size: 20px;
  margin: 10 10 0;
}

.error-small {
  color: $error;
  text-align: center;
  font-size: 12px;
  margin: 10 10 0;
}
